@import "tailwindcss";

@theme {
   --font-premium: "Bitter", serif;
  --font-mono: "DM Mono", monospace;
  --font-display: "Podkova", serif;
  --font-outfit: "Outfit", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-alt: "Fira Sans", sans-serif;

}
